<ul class="nav nav-list">

  <li *ngFor="let eachmenu of menus" [class.active]="eachmenu.isActive">
    <a style="cursor:pointer;"
       (click)="clickMenu(eachmenu)"
       [class.dropdown-toggle]="eachmenu.hasChild">
      <i [class]="eachmenu.icon"></i>
      <span class="menu-text">
        {{eachmenu.text}}
      </span>

      <b *ngIf="eachmenu.hasChild" class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul *ngIf="eachmenu.hasChild" class="submenu">
      <li *ngFor="let eachmenu2 of eachmenu.items" [class.active]="eachmenu2.isActive">
        <a style="cursor:pointer;"
           (click)="clickMenu(eachmenu2)"
           [class.dropdown-toggle]="eachmenu2.hasChild">
          <i [class]="eachmenu2.icon"></i>
          {{eachmenu2.text}}
          <b *ngIf="eachmenu2.hasChild" class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul *ngIf="eachmenu2.hasChild" class="submenu">
          <li *ngFor="let eachmenu3 of eachmenu2.items" [class.active]="eachmenu3.isActive">
            <a style="cursor:pointer;"
               (click)="clickMenu(eachmenu3)"
               [class.dropdown-toggle]="eachmenu3.hasChild">
              <i [class]="eachmenu3.icon"></i>
              {{eachmenu3.text}}
              <b *ngIf="eachmenu3.hasChild" class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>

            <ul *ngIf="eachmenu3.hasChild" class="submenu">
              <li *ngFor="let eachmenu4 of eachmenu3.items" [class.active]="eachmenu4.isActive">
                <a style="cursor:pointer;"
                   (click)="clickMenu(eachmenu4)"
                   [class.dropdown-toggle]="eachmenu4.hasChild">
                  <i [class]="eachmenu4.icon"></i>
                  {{eachmenu4.text}}
                </a>
                <b class="arrow"></b>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
 
</ul><!-- /.nav-list -->
