<app-header></app-header>

<div class="main-container ace-save-state" id="main-container">
  <script type="text/javascript">
    try { ace.settings.loadState('main-container') } catch (e) { }
  </script>

  <div id="sidebar" class="sidebar responsive ace-save-state">
    <script type="text/javascript">
      try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>
    <app-sidebar-shortcuts></app-sidebar-shortcuts>
    <app-navlist></app-navlist>
    <app-sidebar-toggle></app-sidebar-toggle>
  </div>


  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <app-breadcrumb></app-breadcrumb>
        <app-nav-search></app-nav-search>
      </div>

      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <router-outlet></router-outlet>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->


  <div class="footer">
    <div class="footer-inner">
      <div class="footer-content">
        <span class="bigger-120">
          <span class="blue bolder">Ace</span>
          Application &copy; 2013-2014
        </span>

        &nbsp; &nbsp;
        <span class="action-buttons">
          <a href="#">
            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
          </a>

          <a href="#">
            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
          </a>

          <a href="#">
            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
          </a>
        </span>
      </div>
    </div>
  </div>

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
  </a>
</div>
<spinner backgroundColor="rgb(6, 3, 126)" debounceDelay="0"></spinner>


